<!DOCTYPE html>
<html>
<head>
    <title>Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    

    <h2>Adicionar Produto</h2>
    <form action="/Produto/add" method="POST">
        <input type="text" name="ProdutoNome" placeholder="Nome" required>
        <input type="number" name="ProdutoQTD" placeholder="Quantidade" required>
        <input type="number" step="0.01" name="ProdutoPreco" placeholder="Preço" required>
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
